@import "../../themes/themes.less";

.card {
    max-width: 150px;
    min-height: 200px;
    border-radius: 1em;
}
.cardtext {
    font-size: 5em;
    margin-top: 12%;
}
.selectedcard {
    max-width: 150px;
    min-height: 200px;
    border-radius: 1em;
    background-color: #111c56;
    color: #ffffff;
}
.select {
    justify-content: center;
    align-items: center;
    margin: 2% 0%;
    padding: 2% 0%;
    background-color: #111c56;
    color: #ffffff;
}
.devrows {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 10%;
}
.plain {
    background: #f0f2f5;
}
.cardgroup {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ticketheader {
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
}
.ticket {
    justify-content: center;
    align-items: center;
    margin: 2% 0%;
    padding: 2% 0%;
    background-color: #ffffff;
    color: #111c56;
}
.layout {
    padding-bottom: 5%;
}
